/* General Styles */
*::selection {
    background-color: rgb(209, 202, 202);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e71515;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px auto;
}

.amrisa-image {
    height: 125px;
    margin-right: 20px;
}

.text-content {
    display: inline-block;
    text-align: left;
}

header h1 {
    margin: 0;
    font-weight: 500;
    font-family: "Neuropolitical", sans-serif;
    font-size: 40px;
    text-decoration: dashed;
    margin: 10px 0;
}

header h3 {
    color: whitesmoke;
    font-family: 'Josefin Slab', serif;
    font-size: 17px;
    font-weight: 900px;
    margin: 10px 0;
}

header h1::selection, header h3::selection {
    background-color: #ff5151;
}

.uk-image {
    height: 60px;
    margin-left: 500px;
    border-radius: 10px;
}

#i {
    background-color: wheat;
    padding-right: 50px;
}

#i video {
    width: 102%;
    height: 115%;
}

#logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:100px 0;
    text-align: center;
}

#head {
    margin: 10px 0;
}

.logos-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 10px;
    gap: 20px; /* Adjust gap for spacing between logos */
}

.logo {
    transition: transform 0.3s ease;
    height: auto; /* Maintain aspect ratio */
}

#one {
    width: 85px;
}

#two {
    width: 150px;
}

#three {
    width: 120px;
}

.logo:hover {
    transform: scale(1.1);
}

div#h {
    text-align: center;
}

#t {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #0c0075;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 50px 5px;
    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: scale(1.05);
}

#u img, #j img, #o img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

#j {
    background-color: #c90707;
}

#contact {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 4px;
    background-color: #4336be;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e71515;
    transition-property: background-color;
    transition-duration: 0.3s;
}

footer {
    background-color: #16079e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 10px;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1);
}

#line {
    background-color: white;
    padding: 2px 1px;
    margin: 30px 500px;
    border-radius: 2px;
}

@keyframes aam {
    form {
        padding: 0;
    }
    to {
        padding: 0 300px;
    }
}

@font-face {
    font-family: "Neuropolitical";
    src: url(neuropolitical\ rg.otf);
}

/* Responsive Styles for header */
@media (min-width:1019px) and (max-width: 1125px) {
    .uk-image {
        margin-left: 400px;
    }
    header h1 {
        font-size: 37px;
    }

    .testimonial {
        padding: 17px;
        max-width: 225px;
        margin: 50px 5px;
    }

    #u img, #j img, #o img  {
        width: 150px;
        height: 150px;
    }

}

@media (min-width:965px) and (max-width: 1019px) {
    .uk-image {
        margin-left: 350px;
        height: 50px;
    }
    header h1 {
        font-size: 32px;
    }

    .testimonial {
        padding: 17px;
        max-width: 225px;
        margin: 50px 5px;
    }
}

@media (min-width:920px) and (max-width: 965px) {
    .uk-image {
        margin-left: 300px;
        height: 45px;
    }
    header h1 {
        font-size: 32px;
    }
    
    .testimonial {
        padding: 17px;
        max-width: 225px;
        margin: 50px 5px;
    }
}

@media (min-width:860px) and (max-width: 920px) {
    .uk-image {
        margin-left: 250px;
        height: 40px;
    }
    header h1 {
        font-size: 32px;
    }
    
    .testimonial {
        padding: 17px;
        max-width: 225px;
        margin: 50px 5px;
    }
}

@media (min-width:810px) and (max-width: 860px) {
    .uk-image {
        margin-left: 200px;
        height: 35px;
        border-radius: 5px;
    }
    header h1 {
        font-size: 32px;
    }   
    #logos {
        margin: 50px auto;
    }

    #one {
        width: 70px;
    }
    #two {
        width: 110px;
    }
    #three {
        width: 90px;
    }

    .testimonial {
        padding: 15px;
        max-width: 225px;
        margin: 50px 5px;
    }
}


@media (min-width:755px) and (max-width: 810px) {
    .uk-image {
        margin-left: 150px;
        height: 35px;
        border-radius: 5px;
    }
    .amrisa-image{
        height: 100px;
    }
    header h1 {
        font-size: 32px;
    }  

    #one {
        width: 70px;
    }
    #two {
        width: 110px;
    }
    #three {
        width: 90px;
    }

    .testimonial {
        padding: 10px;
        max-width: 210px;
        margin: 20px 5px;
    }
 
    #u img, #j img, #o img  {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:700px) and (max-width: 755px) {
    .uk-image {
        margin-left: 100px;
        height: 35px;
        border-radius: 5px;
    }
    .amrisa-image{
        height: 100px;
    }
    
    header h1 {
        font-size: 32px;
    }
        .testimonial {
        padding: 10px;
        max-width: 210px;
        margin: 20px 5px;
    }
 
    #u img, #j img, #o img  {
        width: 100px;
        height: 100px;
    }

    #one {
        width: 70px;
    }

    #two {
        width: 110px;
    }

    #three {
        width: 90px;
    }

    .testimonial {
        padding: 7.5px;
        max-width: 200px;
        margin: 20px 5px;
    }
} 

@media (min-width:675px) and (max-width: 700px) {
    .uk-image {
        margin-left: 50px;
        height: 35px;
        border-radius: 5px;
    }
    .amrisa-image{
        height: 90px;
    }
    header h1 {
        font-size: 32px;
    }

    #one {
        width: 70px;
    }

    #two {
        width: 110px;
    }
    
    #three {
        width: 90px;
    }

    .testimonial {
        padding: 6px;
        max-width: 190px;
        margin: 20px 5px;
    }

    #u img, #j img, #o img  {
        width: 120px;
        height: 120px;
    }
} 

@media (min-width:500px) and (max-width: 675px) {
    header h1 {
        font-size: 28px;
    }
    .amrisa-image{
        height: 90px;
    }

    #one {
        width: 70px;
    }

    #two {
        width: 110px;
    }
    
    #three {
        width: 90px;
    }

    .testimonial {
        padding: 6px;
        max-width: 150px;
        margin: 20px 2px;
    }

    #u img, #j img, #o img  {
        width: 100px;
        height: 100px;
    }
}

@media (min-width:450px) and (max-width: 500px) {
    header {
        padding-right: 50px;
    }
    
    header h1 {
        font-size: 28px;
    }
    .amrisa-image{
        height: 90px;
    }

    #one {
        width: 70px;
    }

    #two {
        width: 110px;
    }
    
    #three {
        width: 90px;
    }

    .testimonial {
        padding: 6px;
        max-width: 150px;
        margin: 20px 2px;
    }

    #u img, #j img, #o img  {
        width: 100px;
        height: 100px;
    }
}
